@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400&display=swap');
h1, h2{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
p, label, li, a{
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4d;
  font-weight: 400;
}
body{
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
  position: relative;
}
a{
  text-decoration: none;
}
button{
  color: #fff;
  background-color: #0056b3;
  margin: .5rem;
  margin-top: 2rem;
  border: 1px solid #0056b3;
  border-radius: 5px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
}
button:hover{
  border: 2px solid #0056b3;
  box-shadow: 2px 2px 2px #222;
  cursor: pointer;
}
.container{
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}
.title{
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}
.series{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: #fff;
  border-radius:5px;
  border: 2px solid #0056b3;
  justify-content: flex-end;
  align-items: flex-start;
}
.series img{
  margin-left: 10rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: auto;
}
.series h1{
  position: relative;
  color: #0056b3;
  font-size: 5rem;
  margin: 1rem 2rem;
  top: 2rem;
  transition-duration: .5s;
  transition-timing-function: ease;
  text-shadow: 1px 1px 1px #222;
}
.series ul{
  color: #222;
}
.series:hover{
  box-shadow: 3px 3px 3px #222;
  margin-bottom: .2rem;
}
.series:hover .sName h1{
  top: 1rem;
}
.container1{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 45rem;
  width: 100%;
  background-color: white;
  margin-top: 7rem;
}
.measurements{
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid #0056b3;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #222;
}
.measurements h2{
  margin-left: 1rem;
  text-shadow: 1px 1px 1px #222;
  color: #0056b3;
}
.measurements img{
  max-width: 470px;
  margin: auto;
}
.mm{
  display: flex;
  position: absolute;
  align-self: flex-end;
  margin-top: 17rem;
  margin-right: 1rem;
}
.table{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top: 3px solid #0056b3;
  height: 20rem;
}
.m1{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 12rem;
  margin-top: .1rem;
}
.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #222;
}
.blue{
  background-color: #0056b3;
}
.green{
  background-color: #070;
}
.red{
  background-color: #700;
}
.yellow{ 
  background-color: rgb(227, 240, 49);
}
.table label{
  margin-top: .5rem;
  margin-left: .5rem;
}
.textBox{
  margin: .3rem .5rem;
  width: 4rem;
  border: 1px solid #0056b3;
  border-radius: .2rem;
}
.topMenu{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 5rem;
  border-bottom: 2px solid #0056b3;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 1px 2px #222222;
}
.topMenu h1{
  margin: 1rem;
}
.navBar li{
  list-style-type: none;
  display: inline-block;
  margin-right: .5rem;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.navBar a:hover{
  color: #0056b3;
}
.logo{
  z-index: 3;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  transform: skewX(35deg)
}
.pageName{
  position: relative;
  right: 2rem;
  background-color: #0056b3;
  transform: skewX(-35deg);
  border-radius: 2rem;
}