body{
  margin: 0;
  padding: 0;
  border: 0;
}
a{
  text-decoration: none;
}
.container{
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title{
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}
.series{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: #fff;
  border-radius:5px;
  border: 2px solid #0056b3;
  justify-content: flex-end;
  align-items: flex-start;
}
.series img{
  margin-left: 10rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: auto;
}
.series h1{
  position: relative;
  color: #0056b3;
  font-size: 5rem;
  margin: 1rem 2rem;
  top: 2rem;
  transition-duration: .5s;
  transition-timing-function: ease;
  text-shadow: 1px 1px 1px #222;
}
.series ul{
  color: #222;
}
.series:hover{
  box-shadow: 3px 3px 3px #222;
  margin-bottom: .2rem;
}
.series:hover .sName h1{
  top: 1rem;
}
.container1{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 45rem;
  width: 100%;
  background-color: white;
}
.measurements{
  margin-left: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid #0056b3;
  border-radius: 2px;
}
.measurements img{
  max-width: 470px;
  margin: auto;
}
.table{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top: 3px solid #0056b3;
  height: 22rem;
}

.table label{
  margin-top: .5rem;
  margin-left: .5rem;
}
.textBox{
  margin: .3rem .5rem;
  width: 5rem;
  border: 1px solid #0056b3;
  border-radius: .2rem;
}